<script type="text/ng-template" id="classroom_directive.html">
			<h3>{{classroom.classroom_number}}
				<span><button ng-click="open('sm',classroom)">x</button></span>
			</h3>
			<div class="row">
			<button ng-click="addSection(classroom.id)" class="btn btn-success">+</button>
			<button ng-click="removeSection(classroom)" class="btn btn-danger">-</button>
			</div>
			<div class="row">
				<button ng-repeat="section in sections|filter: {classroom_id: classroom.id}" ng-click="moveToSection(classroom,section)" class="btn btn-default">{{section.section}}</button>
			</div>
</script>
