<script type="text/ng-template" id="exam_schema.html">
<table class="table">
	<th>Subject</th>
	<th>Id</th>
	<th>Date</th>
	<th>Slot</th>
	<th>Duration</th>
	<tr ng-repeat="a in exam_subjects">
		<td ng-model="examSchema[a].name">{{a.name}}</td>
		<td ng-model="examSchema[a].subject_id">{{a.id}}</td>
		<td ><input type="text" ng-model="examSchema[a].date" ng-click="selectDate(a)"></td>
		<td><input type="text" ng-model="examSchema[a].slot"></td>
		<td><input type="number" ng-model="examSchema[a].duration"></td>
	</tr>
</table>
<div>
	<button class="btn btn-default" ng-click="saveSchema(examSchema)">Save</button>
	<button class="btn btn-danger" ng-click="cancelSchema()">Cancel</button>
</div>
</script>

