<div class="container">
	<div class="well">
		<div class="container">
			<label for="classroom">Add Classroom</label>
	<select name="classroom" ng-model="newClassroom">
		<option value="" disabled="true" selected="true">Choose a classroom</option>
		<option ng-repeat="defaultClassroom in defaultClassrooms" value="{{defaultClassroom.id}}">{{defaultClassroom.classroom_name}}</option>
	</select>
	<button ng-click="addClassroom(newClassroom)" class="btn btn-primary">Add classroom</button>
	</div>
	</div>
	
	<div class="container">
	<div class="row">
	<div class="col-sm-4 well" ng-repeat="classroom in classrooms">
	
<classroom-data classroom="classroom"> </classroom-data>
</div>
	</div>
	</div>
</div>
<%= render 'template/classroom_directive'%>
