<div class="container">
	
<!--here we will show the list of students in the class as side navbar with 
	 default as all selected -->
	 <div>
	 	<!--This div will contain the select bar to choose the attendance range whose data is to be displayed-->
	Choose date:<select name="dateRange" ng-model="dateRange">
		<option ng-option="Today" selected>Today</option>
		<option ng-value="Yesterday">Yesterday</option>
		<option ng-value="month.month_number" ng-repeat="month in months">{{month.month_name}}</option>
		</select> 	
	 </div>
<div class="row-offcanvas row-offcanvas-left">
	<!--here we will show the list of students in the class as side navbar with 
	 default as all selected -->

  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
          
          <br/>
          <li class="active"><a href ng-click="studentSelected('all')">Show All</a></li>
          <div ng-repeat="student in students_data">
          <li><a href style="display:block" ng-click="studentSelected(student.id)">{{student.name}}</a><img ng-src="{{student.photoUrl}}"></li>
          </div>
        </ul>
      </div>
  </div>

</div><!--/row-offcanvas -->

	 

<div class="col-md-7">
	<div ng-show="attendances_data.length"><!--shows when attendance is marked-->
	<div ng-repeat="student in students_data">
	        <div ng-repeat="attendance in attendances_data | filter:{student_id:student.id}">
             	<div ng-show="displayCase==1"><!-- case of particular student on particular day-->
             		<div class="block col-md-3" ng-mouseout="changeEditState(false,attendance.id)" ng-mouseover="changeEditState(true,attendance.id)" >
             			<table>
             					<tr><td>{{student.photoUrl}}</td></tr>
             					<tr><td>{{student.name}}</td></tr>
             					<tr><td><div ng-hide="isEditAttendance[attendance.id]">{{attendance.attendance}}</div></td></tr>
             					<tr ng-show="isEditAttendance[attendance.id]">
	             					<td><select ng-model="attendanceSelected">
	             					<option value="Present" selected>Present</option>
	             					<option value="Absent">Absent</option>	
	             					</select></td>
             					</tr>		
             					<tr ng-show="isEditAttendance[attendance.id]" >
             						<td><button class="btn btn-success" ng-click="saveAttendance(attendanceSelected,attendance)">Save</button></td>
             						<td><button class="btn btn-danger"  ng-click="cancelAttendance(attendance.id)">Cancel</button></td>
             					</tr>	             							
             			</table>
             			<div ng-show="isEditActive[attendance.id]"><button class="btn" ng-click="editAttendance(attendance.id)">Edit</button></div>
             	</div>
             	</div>
             	
             	<div ng-show="displayCase==2">
             		<!--particular student particular month-->
             		<div class="block col-md-3" ng-mouseout="changeEditState(false,attendance.id)" ng-mouseover="changeEditState(true,attendance.id)" >
             			<table>
             				<tr><td>{{attendance.date}}</td></tr>
             					<tr><td><div ng-hide="isEditAttendance[attendance.id]">{{attendance.attendance}}</div></td></tr>
             					<tr ng-show="isEditAttendance[attendance.id]">
	             					<td><select ng-model="attendanceSelected">
	             					<option value="Present" selected>Present</option>
	             					<option value="Absent">Absent</option>	
	             					</select></td>
             					</tr>		
             					<tr ng-show="isEditAttendance[attendance.id]" >
             						<td><button class="btn btn-success" ng-click="saveAttendance(attendanceSelected,attendance)">Save</button></td>
             						<td><button class="btn btn-danger"  ng-click="cancelAttendance(attendance.id)">Cancel</button></td>
             					</tr>	             							
             			</table>
             			<div ng-show="isEditActive[attendance.id]"><button class="btn" ng-click="editAttendance(attendance.id)">Edit</button></div>

             		</div>
             	</div>
             	
             	<div ng-show="displayCase==3" ><!--all student particular day-->
             		<div class="block col-md-3" ng-mouseout="changeEditState(false,attendance.id)" ng-mouseover="changeEditState(true,attendance.id)">
             			<table>
             				<tr><td>{{student.photoUrl}}</td></tr>
             				<tr><td>{{student.name}}</td></tr>
             					<tr><td><div ng-hide="isEditAttendance[attendance.id]">{{attendance.attendance}}</div></td></tr>
             					<tr ng-show="isEditAttendance[attendance.id]">
	             					<td><select ng-model="attendanceSelected">
	             					<option value="Present" selected>Present</option>
	             					<option value="Absent">Absent</option>	
	             					</select></td>
             					</tr>		
             					<tr ng-show="isEditAttendance[attendance.id]" >
             						<td><button class="btn btn-success" ng-click="saveAttendance(attendanceSelected,attendance)">Save</button></td>
             						<td><button class="btn btn-danger"  ng-click="cancelAttendance(attendance.id)">Cancel</button></td>
             					</tr>	             							
             			</table>
             			<div ng-show="isEditActive[attendance.id]"><button class="btn" ng-click="editAttendance(attendance.id)">Edit</button></div>

             		</div>
             	</div>
             					
</div>

</div>
<div ng-show="displayCase==4"><!--all students one month-->
	<div ng-repeat="student in students_data">
	<div ng-repeat="individual in monthly_attendance | filter:{student_id : student.id}">
		<div class="block col-md-3" >
			<table >
				<tr><td>{{student.name}}</td></tr>				
				<tr><td>{{individual.student_info.student_id}}</td></tr>
				<tr><td>{{individual.attendancePercentage}}</td></tr>
			</table>
		</div>
	</div>
	</div>
</div>
</div>
	<div ng-show="!attendances_data.length">
		<h1>NO attendance marked in the selected date range</h1>
	</div>
	</div>
