<h1>{{classroomId}}</h1>

<h3><ul ng-repeat="eachStudent in data">
	<li><a href ng-click="">{{eachStudent.name}}</a></li>
	<!--	<button ng-click="toggleCustom()" class="{{buttonClass}}">{{buttonName}}</button>-->
	
</ul></h3>
