<h1>{{classroomId}}</h1>
<button class="btn btn-success">Mark all Present</button>
<button class="btn btn-danger">Mark all absent</button>

<h3><ul ng-repeat="eachStudent in data">
	<li>{{eachStudent.name}}</li>
	<button ng-click="toggleCustom()" class="{{buttonClass}}">{{buttonName}}</button>
	
</ul></h3>
<button class="btn btn-success">Save</button>
<button class="btn btn-primary">Cancel</button>
