<!DOCTYPE html>
<html>
<head>
  <title>SmartRailsSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<% @schools.each do |school| %>
	<%= link_to school.username,school_path(school)%>
	<% end %>
</div>
</body>
</html>
