<!DOCTYPE html>
<html>
<head>
  <title>SmartRailsSchool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div ng-app="schoolApp">
	<input type="text" ng-model="l" />
	<h3>{{l}}</h3>
</div>

</body>
</html>
