<div ng-controller="modalCtrl">
<script type="text/ng-template" id="contactus.html">
	<div class="modal-header">
		<div class="modal-title">Contact Us
			<span class="close" ng-click="cancel()">x</span>	
		</div>
		
	</div>
	<div class="modal-body">
		Please fill the form below
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">Ok</button>
		<button class="btn btn-danger" ng-click="cancel()">Cancel</button>
	</div>
</script>
</div>