<div class="navbar navbar-default navbar-fixed-top" ng-controller="modalCtrl">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href class="navbar-brand">PayDirt</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href>Home</a></li>
				<li class="dropdown" dropdown>
					<a href class="dropdown-toggle" dropdown-toggle>About <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href>Product</a></li>
						<li><a href>Pricing</a></li>
						<li><a href>Founders</a></li>
					</ul>
				</li>
				<li><a href ng-click="open('sm')">ContactUs</a></li>
				<li><a href='#/login'>Login</a></li>
			</ul>
		</div>
	</div>
</div>
<div>
</div>
