
<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
          
          <br/>
          <li ><a href="#classrooms">Classroom</a></li>
          <li><a href="#" >Course</a></li>
          <li><a href="#teacher">Teacher</a></li>
          <li><a href="#">Notice</a></li>
          <li><a href="#">Student</a></li>
        </ul>
      </div>
  </div>

</div><!--/row-offcanvas -->
  
  