
<div class="row-offcanvas row-offcanvas-left">
  <div id="sidebar" class="sidebar-offcanvas">
      <div class="col-md-2">
          <ul class="nav nav-pills nav-stacked">
          
          <br/>
          <li ><a href="#classrooms" ng-click="tab=1">Classroom</a></li>
          <li><a href="#"  ng-click="tab=2">Course</a></li>
          <li><a href="#/schools/teacher" ng-click="tab=3">Teacher</a></li>
          <li><a href="#" ng-click="tab=4">Notice</a></li>
          <li><a href="#" ng-click="tab=5" ng-href="#/schools/student/add">Student</a></li>
          <li><a href="#/schools/examination" ng-click="tab=6">Examination</a></li>
        </ul>
      </div>
  </div>

</div><!--/row-offcanvas -->
  
  